{% extends "templates/layouts/container.html" %}


{% block content %}
<main class="row">
  <div class="col-auto">
    {% include "templates/components/sidebar.html" %}

  </div>
  <div class="col o-content">
    <div class="o-content__container">
      <div class="p-preview">
        <h1 class="p-preview__title mb-4">Add Patient</h1>
      </div>

      <div class="row my-5 o-input">
        <div class="col-12">

          <div class="c-alert c-alert--success mb-5" data-module="alert">
            <h4>Success</h4>
            <p>Blade is the simple, yet powerful templating engine that is included with Laravel</p>
            <button class="c-alert__close"><i class="ti ti-close"></i></button>
          </div>

          <div class="c-alert c-alert--error mb-5" data-module="alert">
            <h4>Error</h4>
            <p>Blade is the simple, yet powerful templating engine that is included with Laravel</p>
            <button class="c-alert__close"><i class="ti ti-close"></i></button>
          </div>

          <div class="c-alert c-alert--info mb-5" data-module="alert">
            <h4>Info</h4>
            <p>Blade is the simple, yet powerful templating engine that is included with Laravel</p>
            <button class="c-alert__close"><i class="ti ti-close"></i></button>
          </div>

          <div class="c-alert c-alert--warning mb-5" data-module="alert">
            <h4>Warning</h4>
            <p>Blade is the simple, yet powerful templating engine that is included with Laravel</p>
            <button class="c-alert__close"><i class="ti ti-close"></i></button>
          </div>

          <form action="">
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Patient name <span class="text-danger">*</span></label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-4 px-1 o-input__field">
                    <input type="text" placeholder="First Name">
                  </div>
                  <div class="col-4 px-1 o-input__field">
                    <input type="text" placeholder="Last Name">
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Patient Phone <span class="text-danger">*</span></label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-2 px-1 o-input__field">
                    <input type="text" placeholder="+92">
                  </div>
                  <div class="col-6 px-1 o-input__field">
                    <input type="text" placeholder="10 Digit phone number">
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Patient Blood Group <span class="text-danger">*</span></label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-4 px-1 o-input__field">
                    <select name="" id="">
                      <option value="">Please select</option>
                      <option value="">O</option>
                      <option value="">A</option>
                      <option value="">B</option>
                      <option value="">AB</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Patient Health ID <span class="text-danger">*</span></label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-3 px-1 o-input__field">
                    <input type="text" placeholder="7878" class="">
                  </div>
                  <div class="col-3 px-1 o-input__field">
                    <input type="text" placeholder="7858">
                  </div>
                  <div class="col-3 px-1 o-input__field">
                    <input type="text" placeholder="2354">
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Patient Aadhar No <span class="text-danger">*</span></label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-3 px-1 o-input__field">
                    <input type="text" placeholder="7878">
                  </div>
                  <div class="col-3 px-1 o-input__field">
                    <input type="text" placeholder="7858">
                  </div>
                  <div class="col-3 px-1 o-input__field">
                    <input type="text" placeholder="2354">
                  </div>
                  <div class="col-3 px-1 o-input__field">
                    <input type="text" placeholder="2354">
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Select Department </label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-4 px-1 o-input__field">
                    <select name="" id="">
                      <option value="">Please select</option>
                      <option value="">AAA</option>
                      <option value="">ABA</option>
                      <option value="">BCC</option>
                      <option value="">ABD</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Select Doctor </label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-4 px-1 o-input__field">
                    <select name="" id="">
                      <option value="">Please select</option>
                      <option value="">Dr. AAA</option>
                      <option value="">Dr. ABA</option>
                      <option value="">Drs. BCC</option>
                      <option value="">Dr. ABD</option>
                    </select>
                  </div>
                  <div class="col-auto pl-1">
                    <button class="o-btn sm feed success" type="button" data-module="modals"
                      data-target="#modal-add-doctor" data-type="popup"><i class="ti ti-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Select Nurse </label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-4 px-1 o-input__field">
                    <select name="" id="">
                      <option value="">Please select</option>
                      <option value="">Dr. AAA</option>
                      <option value="">Dr. ABA</option>
                      <option value="">Drs. BCC</option>
                      <option value="">Dr. ABD</option>
                    </select>
                  </div>
                  <div class="col-auto pl-1">
                    <button class="o-btn sm feed success" type="button" data-module="modals"
                      data-target="#modal-add-nurses" data-type="popup"><i class="ti ti-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__group align-items-center">
              <div class="o-input__label col-3">
                <label>Referral </label>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-4 px-1 o-input__field">
                    <select name="" id="" class="">
                      <option value="">Please select</option>
                      <option value="">Dr. AAA</option>
                      <option value="">Dr. ABA</option>
                      <option value="">Drs. BCC</option>
                      <option value="">Dr. ABD</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row o-input__cta">
              <div class="o-input__label col-3"></div>
              <div class="col">
                <button class="o-btn success mr-2" type="submit">Add Patient</button>
                <button class="o-btn danger" type="reset">Go Back</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <p><em>Please Note : On adding patient , the patient will receive an OTP for sharing medical data. Please ensure
          the patient is informed of the same</em></p>
    </div>

    <!-- Modals add doctor -->
    <div class="c-modals__popup modals-area" id="modal-add-doctor">
      <div class="content">
        <form action="">
          <h4 class="mb-2">Add Doctor</h4>
          <div class="o-input__field">
            <input type="text" placeholder="name doctor ...">
          </div>

          <div class="row mt-4">
            <div class="col-auto">
              <button class="o-btn sm primary" data-module="modals" data-type="close">Save</button>
              <button class="o-btn sm" data-module="modals" data-type="close">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Modals add nurses -->
    <div class="c-modals__popup modals-area" id="modal-add-nurses">
      <div class="content">
        <form action="">
          <h4 class="mb-2">Add Nurses</h4>
          <div class="o-input__field">
            <input type="text" placeholder="name nurses ...">
          </div>

          <div class="row mt-4">
            <div class="col-auto">
              <button class="o-btn sm primary" data-module="modals" data-type="close">Save</button>
              <button class="o-btn sm" data-module="modals" data-type="close">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
