{% extends "templates/layouts/container.html" %}


{% block content %}
<main class="row">
  <div class="col-auto">
    {% include "templates/components/sidebar.html" %}

  </div>
  <div class="col o-content">
    <div class="p-preview">
      <h1 class="p-preview__title mb-4">General Directory</h1>
      <div class="row">
        <div class="col-12">
          <div class="c-datatables">
            <table data-module="datatables">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Doctor/Patient</th>
                  <th>Departement</th>
                  <th>Email Address</th>
                  <th>Phone No.</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-danger">Patient</span></td>
                  <td>ENT</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-success">Doktor</span></td>
                  <td>Orthopaedics</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-danger">Patient</span></td>
                  <td>ENT</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-success">Doktor</span></td>
                  <td>Orthopaedics</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-danger">Patient</span></td>
                  <td>ENT</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-success">Doktor</span></td>
                  <td>Orthopaedics</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-danger">Patient</span></td>
                  <td>ENT</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-success">Doktor</span></td>
                  <td>Orthopaedics</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-danger">Patient</span></td>
                  <td>ENT</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-success">Doktor</span></td>
                  <td>Orthopaedics</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-danger">Patient</span></td>
                  <td>ENT</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
                <tr>
                  <td><div class="p-preview__ava"><img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="ava"></div> Raphl Edward</td>
                  <td><span class="text-success">Doktor</span></td>
                  <td>Orthopaedics</td>
                  <td><span class="text-danger">curtis.weaver@example.com</span></td>
                  <td>+32-445-234-34</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
