{% extends "templates/layouts/container.html" %}


{% block content %}
<main class="p-forgot-password">
  <div class="p-forgot-password__card">
    <h1 class="p-forgot-password__title">Forgot Password</h1>
    <p class="p-forgot-password__desc">Please enter your email for reset your password</p>

    <div class="col-12 my-5">
      <div class="p-sign-in__form-group">
        <input type="email" placeholder="Enter your email address" class="p-sign-in__form-field">
      </div>
    </div>

    <div class="col-12 px-6">
      <button class="p-sign-in__form-button" type="submit">Send</button>
    </div>
  </div>
</main>
{% endblock %}
