.c-sidebar {
  display: block;
  width: 340px;
  height: 100vh;
  padding: 32px;
  background: linear-gradient(176.16deg, #6D09ED 19.33%, #7B009A 99.99%, rgba(196, 196, 196, 0) 100%);
  overflow: hidden;
  position: fixed;
  z-index: 10;
  top: 0;

  &__brand {
    img {
      display: inline-block;
      margin-right: 16px;
      width: 35px;
    }

    span {
      font-family: $font-fm-bold;
      font-size: 36px;
      line-height: normal;
      color: var(--base-color-white100);
      vertical-align: super;
    }
  }

  &__user-cta {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 32px;
    justify-content: center;
    min-width: 60px;
    padding: 4px 24px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #ED31AD;
    color: var(--base-color-white100);
    font-size: rem(14px);
    line-height: normal;
    font-family: $font-fm-base;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
      background-color: #dd1f9e;
    }
  }

  &__user-ava {
    aspect-ratio: 1 / 1;
    background-color: var(--base-color-black50);
    position: relative;
    border-radius: 50px;
    height: 58px;
    border: 2px solid var(--base-color-white100);

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      border-radius: 5px;
      background-color: rgb(43, 235, 26);
      top: .5rem;
      right: -3px;
    }
  }

  &__user-info {
    p {
      margin: 0;
      line-height: 1.5;
      color: var(--base-color-white100);
      font-size: rem(16px);
      font-family: $font-fm-light;
    }
  }

  &__menu {
    padding: 0 24px;

    nav {
      a {
        display: block;
        width: 100%;
        padding: 20px 0;
        text-decoration: none;
        color: var(--base-color-white100);
        font-family: $font-fm-light;
        font-size: rem(18px);

        i {
          margin-right: 1rem;
          font-size: inherit;
          color: inherit;

          &.success {
            color: var(--base-color-green100);
          }
        }

        &:hover {
          color: var(--base-color-black30);
        }
      }
    }
  }

  &__sign-out {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    color: var(--base-color-white100);
    line-height: normal;
    bottom: 32px;
    font-family: $font-fm-base;
    display: inline-block;

    i {
      font-size: 24px;
      color: inherit;
      margin-right: 1rem;
      vertical-align: text-top;
    }

    &:hover {
      color: var(--base-color-black30);
    }
  }

  @include media-breakpoint-up(xxl) {
    width: 390px;
  }
}
