<div class="c-sidebar">
  <div class="row">
    <div class="col-12 c-sidebar__brand mb-4">
      <img src="{{ base.static }}images/company-logo.svg" alt="logo">
      <span>MonitorDoc</span>
    </div>
    <div class="col-12 c-sidebar__user mb-7">
      <div class="row">
        <div class="col-auto mr-2">
          <div class="c-sidebar__user-ava">
            <img src="https://images.unsplash.com/photo-1608549036505-ead5b1de5417?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="avatar">
          </div>
        </div>
        <div class="col c-sidebar__user-info">
          <p><strong>Doctor:</strong> Dr. kabib Husen</p>
          <p><strong>Hospital:</strong> New delhi city hospital</p>
          <a href="" class="c-sidebar__user-cta mt-1">
            edit
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 c-sidebar__menu mb-7">
      <nav>
        <a href="/dashboard.html"><i class="ti ti-home"></i> Home</a>
        <a href="/overview.html"><i class="ti ti-flag-alt"></i> Refer Patient</a>
        <a href="/directory.html"><i class="ti ti-id-badge"></i> Edit Details</a>
        <a href="/add-patient.html"><i class="ti ti-truck"></i> Raise Emergency Call</a>
        <a href=""><i class="ti ti-shift-right"></i> Discharge Patient</a>
        <a href=""><i class="ti ti-check-box"></i> Mark  Update</a>
      </nav>
    </div>
  </div>
  <a class="c-sidebar__sign-out" href="/">
    <i class="ti ti-shift-left"></i> Sign out
  </a>
</div>
