.o-card {
  border: 1px solid var(--base-color-black30);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  background-color: var(--base-color-white100);

  &__ava {
    aspect-ratio: 1 / 1;
    background-color: var(--base-color-black50);
    position: relative;
    border-radius: 50px;
    height: 84px;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__title {
    color: var(--base-color-black70);
    padding: 8px 0;
    border-bottom: 1px solid var(--base-color-black50);
    font-size: rem(18px);
  }

  &__heading {
    color: var(--base-color-black70);
    font-size: rem(20px);
  }
}


.o-tag {
  border-radius: 50px;
  border: 1px solid var(--base-color-black70);
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  min-width: 120px;
  text-decoration: none;
  font-size: 1rem;
  font-family: $font-fm-medium;

  &:hover {
    border: 1px solid var(--base-color-red100);
    color: var(--base-color-red100);
  }
}
