// -- section setup
.o-section {
  margin-bottom: rem(72px);

  &--sm {
    margin-bottom: 3.5rem;

    @include media-breakpoint-down(xs) {
      margin-bottom: 1.5rem;
    }
  }

  &--lg {
    margin-bottom: 8rem;

    @include media-breakpoint-down(xs) {
      margin-bottom: 4rem;
    }
  }

  &--less {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: rem(56px);
  }
}

// -- main wrapper
.o-main-wrapper {
  margin-top: rem(84px);

  @include media-breakpoint-down(xs) {
    margin-top: rem(56px);
  }
}

.o-content {
  position: relative;
  padding-left: 350px;
  box-sizing: border-box;

  &__container {
    padding: 28px 32px;
  }

  &__full {
    min-height: 100vh;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 390px;
  }
}

.o-gray {
  background-color: #E4EBF2;
  min-height: 100vh;
}

.o-canvas {
  aspect-ratio: 16 / 9;
  width: 100%;
}
